                    <hr class="hr-line">
                    <h3 class="title" style="font-size:30px;">
                        {% if site.email %}<a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i></a>{% endif %}
                        {% if site.google.plus %}<a class="social-btn" href="http://plus.google.com/+{{ site.google.plus }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-google-plus-square"></i></a>{% endif %}
                        {% if site.linkedin %}<a class="social-btn" href="http://linkedin.com/in/{{ site.linkedin }}" target="www.linkedin.com/in/francissebastian" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i>
</a>{% endif %}
                        {% if site.instagram %}<a class="social-btn" href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i></a>{% endif %}
                        {% if site.github-url %}<a class="social-btn" href="http://github.com/{{ site.github-url }}" target="https://github.com/parametrix" rel="noopener noreferrer"><i class="fa fa-fw fa-github"></i></a>{% endif %}          
                        {% if site.pinterest %}<a class="social-btn" href="http://www.pinterest.com/{{ site.pinterest }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-pinterest"></i></a>{% endif %}
                        {% if site.flickr %}<a class="social-btn" href="http://www.flickr.com/{{ site.flickr }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-flickr"></i></a>{% endif %}
                  </h3>
